<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <title>Product Management</title>
    <script>
        var noti = "{{ noti }}";
        if (noti != undefined && noti != ''){
            alert(noti);
        }
        
    </script>
</head>
<body>
    <div class="nav-bar">
        <div class="dropdown">
            <h1 class="header"><i class="fa fa-bars dropbtn"></i> Product Management</h1>
            <div class="dropdown-content">
                <a href="{{url_for('render_customer')}}"><i class="fa fa-user"></i> Customer Management</a>
                <a href="{{url_for('render_business')}}"><i class="fa fa-signal"></i> Business Management</a>
                <a href="{{url_for('render_account')}}"><i class="fa fa-gear"></i> Account Management</a>
                <a href="{{url_for('render_chatbot')}}"><i class="fa fa-comment"></i> Test Chatbot</a>
            </div>
        </div>
        
        <a href="{{url_for('login_account')}}">
            <button class="logout-btn"><i class="fa fa-power-off"></i> Logout</button>
        </a>
        
    </div>
    </div class="content">
        <form method="POST" action="/add">
            <div class="form-container">
                <div class="form-group">
                    <label for="name">Product Name:</label>
                    <input type="text" id="name" name="name" required><br><br>
                </div>
                <div class="form-group">
                    <label for="price">Product Price:</label>
                    <input type="text" id="price" name="price" required><br><br>
                </div>
                <div class="form-group">
                    <label for="number">Product Number:</label>
                    <input type="text" id="number" name="number" required><br><br>
                </div>
                <button type="submit" id="productForm"><i class="fa fa-cart-plus"></i> Add Product</button>
            </div>
        </form>
        <div id ="message"></div>
        <h1 class="header">Products:</h1>

<!-- MODAL BOX-->
        <div class="modal" id="myModal">
            <div class="modal-content">
                
                <div class="modal-info">
                    <span class="closeEdit">&times;</span>
                    <i class="fa fa-file" style="margin-left:5px"></i> Edit product information
                 </div>
                
                <form class="modal-form"> 
                    <div class="form-container">
                        <div class="form-group">
                            <label for="name">Product ID:</label>
                            <input type="text" id="modal-productID">
                        </div>
                        <div class="form-group">
                            <label for="price">Product Name:</label>
                            <input type="text" id="modal-productName">
                        </div>
                        <div class="form-group">
                            <label for="number">Product Price:</label>
                            <input type="text" id="modal-productPrice">
                        </div>
                        <button type="button" id="confirm-btn"> Confirm <i class="fa fa-check"></i></button>
                    </div>
                    
                </form>
            </div>
        </div>


        <div class="tableFrame">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Operating</th>
                </tr>
                {% for product in products %}
                <tr>
                    <td class="productID"> {{product[0]}} </td>
                    <td class="productInfo"> {{ product[1] }} </td>
                    <td class="unitPrice"> ${{ product[2] }}</td>
                    <td class="os">
                        <button type="button" class="edit-btn" data-product-id="{{ product[0] }}"><i class="fa fa-pencil"></i> Edit</button>
                        <button type="button" class="delete-btn" data-product-id="{{ product[0] }}"><i class="fa fa-trash"></i> Delete</button>
                       
                    </td>
                </tr>
                {% endfor %}    
            </table>
        </div>
        <script src="{{url_for('static', filename='myjs.js')}}"></script>
</body>
</html>